* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 80px;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.title {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: silver;
    border-bottom: 1px solid silver;
}

.title .logo {
    display: inline-block;
    border border-radius: 100%;
    font-weight: 800;
}

.title .logo h1 {
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.title .navigation {
    position: absolute;
    right: 10px;
    top: 10px;
}

.title .navigation .nav-link {
    font-size: 18px;
    padding: 0 6px;
}

.search-input {
    margin-bottom: 30px;
}

.search-input label {
    display: block;
}

.search-input input {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
    height: 30px;
    border: 1px solid silver;
    border-radius: 3px;
    padding: 0 5px 0 8px;
    width: 400px;
}

.search-input .search-button {
    font-size: 17px;
    width: 37px;
    height: auto;
    padding: 2px 6px 3px 6px;
    background-color: white;
    border: 1px solid silver;
    border-radius: 3px;
}

.pages {
    display: inline-block;
    font-size: 0;
    margin-bottom: 30px;
    border: 1px solid silver;
    border-radius: 3px;
}

.pages .pages-button {
    font-size: 16px;
    display: inline-block;
    padding: 8px 15px;
    border-radius: 3px;
}

.pages .pages-display {
    font-size: 16px;
    padding: 0 30px;
    padding: 8px 25px;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
}

main .search-results {
    padding: 0;
}

main .search-results .listing {
    list-style: none;
    margin-bottom: 15px;
}

main .search-results .listing .date,
main .search-results .listing .location {
    color: darkgrey;
}

main .search-results .listing .job-title {
    font-weight: bold;
    font-size: 17px;
    margin-left: 8px;
    margin-right: 8px;
}

.search-input .search-button {
    vertical-align: bottom;
    height: 100%;
}
